@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?cs=srgb&dl=pexels-artem-beliaikin-853199.jpg&fm=jpg");
  background-size: 250%;
  background-position: calc(var(--x) / -20) calc(var(--y) / -20);
}

section .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
}
section .box.box2 {
  background: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?cs=srgb&dl=pexels-artem-beliaikin-853199.jpg&fm=jpg");
  background-size: 250%;
  background-position: calc(var(--x) / -20) calc(var(--y) / -20);
  clip-path: circle(250px at center);
}
section .box.box2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 25);
  z-index: 10;
  border-radius: 50%;
}

.text {
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
  color: #fff;
  font-size: 15em;
  transform: translateX(calc(var(--x) / -5)) translateY(calc(var(--y) / -5));
}
